* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-gradient .header {
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
}

.form-gradient input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #fd9267;
    box-shadow: 0 1px 0 0 #fd9267;
}

.form-gradient input[type=text]:focus:not([readonly])+label {
    color: #4f4f4f;
}

.form-gradient textarea.md-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #fd9267;
    box-shadow: 0 1px 0 0 #fd9267;
}

.form-gradient .md-form textarea.md-textarea:focus:not([readonly])+label {
    color: #4f4f4f;
}

@media (min-width: 768px) {
    section {
        width: 200px;
    }
}