* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    min-width: 400px;
}

main .date_auteur {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

main figcaption {
    text-align: left;
    word-wrap: break-word;
}

main .ligne {
    position: relative;
}

main .date_auteur a {
    padding: 5px 20px;
    background-color: #000;
    color: #fff;
}

main .latest_article {
    position: absolute;
    right: 2%;
    top: 2.5%;
}

main .article a {
    padding: 5px 15px;
    background-color: #000;
    color: #fff;
    border-radius: 4px;
}

main .publish a {
    color: #fff;
    background-color: #33b5e5;
    padding: 10px 45px;
    border-radius: 5px;
}